# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
claude-env/

# Configuration files and secrets 
*.env
secrets.json

# Package files
*.egg-info/
dist/
build/

# IDE and editor files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
.DS_Store

# Others
vector_db.pkl
# Include folders
!past_tasks/
!temp/
# Ignore everything inside the folders
past_tasks/*
temp/working_memory.txt
# Include the .gitkeep file
!past_tasks/.gitkeep
!temp/.gitkeep